*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
}

#header{
    width: 100%;
    /* full viewport height */
    height: 100vh; 
}